{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do pedido</title>
</head>

<body>
    <div class="cabecalho">
        <a href="{% url 'home' %}">Voltar para home</a>
        <h1>Pedido #{{pedido.id}}</h1>
        <p>Status atual: {{pedido.status}} </p>
        <p id="total-pedido">Total: R${{ pedido.total}}</p>
    </div>

    {% if pedidos.status == 'RASCUNHO' %}

    {% else %}

    {% endif %}


</body>

</html>