{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do pedido</title>
    <link rel="stylesheet" href="{% static 'pedidos/css/detalhar_pedido.css' %}">
</head>

<body>
    <div class="cabecalho">
        <a href="{% url 'home' %}">Voltar para home</a>
        <h1>Pedido #{{pedido.id}}</h1>
        <div class="colunas">

            <div class="coluna1">
                <p>Status atual: {{pedido.status}} </p>
                <p id="total-pedido">Total: R${{ pedido.total}}</p>

                {% if pedido.status == 'RASCUNHO'%}
                <button onclick="fecharPedido()">Fechar pedido</button>
                {% endif %}

                {% if pedido.status == 'FECHADO' %}
                <button onclick="abrirPedido()">Abrir pedido</button>
                {% endif %}

            </div>

            {% if pedido.status != 'CANCELADO' %}
            <div class="coluna2">
                <button onclick="cancelarPedido()">Cancelar</button>
            </div>
            {% else %}
            <button onclick="abrirPedido()">Abrir pedido</button>
            {% endif %}

        </div>
    </div>

    {% if pedido.status == 'RASCUNHO' %}
    <div class="formulario-item">
        <h3>Adicionar Novo Item</h3>
        <input type="text" id="desc" placeholder="Descrição do item" required>
        <input type="number" id="qtd" placeholder="Qtd" style="width: 60px;" required>
        <input type="number" id="valor" placeholder="Valor Unitário" step="0.01" required>
        <button class="btn" onclick="adicionarItem()">Adicionar Item</button>
    </div>
    {% else %}
    <div>
        <p>Aviso: Este pedido está {{ pedido.status }} e não pode mais ser editado.</p>
    </div>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Valor unitário</th>
                <th>Subtotal</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody id="tabela-itens">

        </tbody>
    </table>

    <script>

        const pedidoId = "{{ pedido.id }}";
        const statusPedido = "{{ pedido.status }}";
        const tokenCSRF = "{{ csrf_token }}"

        async function carregarItens() {
            const resposta = await fetch(`/api/pedido/${pedidoId}/itens/`)
            const itens = await resposta.json()
            const corpo = document.getElementById('tabela-itens')
            corpo.innerHTML = ''

            itens.forEach(i => {
                let botaoExcluir = ''

                if (statusPedido === 'RASCUNHO') {
                    botaoExcluir = `<button class="btn btn-excluir" onclick="removerItem(${i.id})">Remover</button>`;
                }

                corpo.innerHTML += `
                <tr>   
                    <td>${i.descricao}</td>
                    <td>${i.quantidade}</td>
                    <td>${i.valor_unitario.toFixed(2)}</td>
                    <td>${i.subtotal.toFixed(2)}</td>
                    <td>${botaoExcluir}</td>
                </tr>
                `
            });
        }

        async function adicionarItem() {
            const descricao = document.getElementById('desc').value
            const quantidade = document.getElementById('qtd').value
            const valorUnitario = document.getElementById('valor').value

            if (!descricao || !quantidade || !valorUnitario) {
                alert('Preencha todos os dados')
                return
            }

            const dados = {
                descricao,
                quantidade: quantidade,
                valor_unitario: valorUnitario

            }

            const resposta = await fetch(`/api/pedidos/${pedidoId}/itens/add/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': tokenCSRF
                },
                body: JSON.stringify(dados)
            })

            if (resposta.ok) {
                const resJson = await resposta.json()
                document.getElementById('total-pedido').innerText = resJson.total_pedido.toFixed(2);
                carregarItens()

                document.getElementById('desc').value = ''
                document.getElementById('qtd').value = ''
                document.getElementById('valor').value = ''
            } else {
                const erro = await resposta.json();
                alert(erro.error || "Erro ao adicionar item");
            }

        }


        async function fecharPedido() {
            if (!confirm("Tem certeza que deseja fechar o pedido? Não sera possível adicionar itens"))
                return

            try {
                const resposta = await fetch("{% url 'api_fechar_pedido' pedido.id %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': tokenCSRF
                    }
                });

                const resultado = await resposta.json()

                if (resposta.ok) {
                    alert('Pedido fechado com sucesso!')
                    window.location.reload()
                } else {
                    alert("erro: " + (resultado.error || "Falha ao fechar pedido"))
                }

            } catch (error) {
                console.error("Erro na requisição:", erro);
                alert("Erro de conexão com o servidor.");
            }

        }

        async function abrirPedido() {
            if (!confirm("Deseja abrir o pedido?"))
                return

            try {
                const resposta = await fetch("{% url 'api_abrir_pedido' pedido.id %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': tokenCSRF
                    }
                })

                const resultado = await resposta.json()

                if (resposta.ok) {
                    alert('Status alterado para rascunho com sucesso')
                    window.location.reload()
                } else {
                    alert("erro: " + (resultado.error || "Falha ao abrir o pedido"))

                }

            } catch (error) {
                console.error("Erro na requisição:", erro)
                alert('erro de conexão')
            }
        }

        async function removerItem(itemId) {
            if (!confirm("Tem certeza que deseja remover esse item? "))
                return

            try {

                const resposta = await fetch(`/api/itens/${itemId}/remover/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': tokenCSRF
                    }
                })

                const resultado = await resposta.json()

                if (resposta.ok) {
                    document.getElementById('total-pedido').innerText = resultado.total_pedido.toFixed(2)
                    carregarItens()
                } else {
                    alert("erro: " + (resultado.error || "Falha ao remover o item"))

                }
            } catch (error) {
                console.error("Erro na requisição:", erro)
                alert('erro de conexão')
            }
        }

        async function cancelarPedido() {
            if (!confirm("Tem certeza que deseja cancelar esse pedido?"))
                return


            try {

                const resposta = await fetch("{% url 'api_cancelar_pedido' pedido.id %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': tokenCSRF
                    }
                })

                const resultado = await resposta.json()
                if (resposta.ok) {
                    alert('Pedido cancelado com sucesso!')
                    window.location.reload()
                } else {
                    alert("erro: " + (resultado.error || "Falha ao cancelar o pedido"))
                }
            }
            catch (error) {
                console.error("Erro na requisição:", erro)
                alert('erro de conexão')
            }
        }


        carregarItens();
    </script>
</body>

</html>