{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Pedidos</title>
    <link rel="stylesheet" href="{% static 'pedidos/css/home.css' %}">
</head>

<body>

    <div class="topo">
        <h1>Lista de Pedidos</h1>
        <div>
            <span>Logado como: <strong>{{ user.username }}</strong></span>
            <a href="{% url 'logout' %}">Sair</a>
        </div>
    </div>

    <div id="mensagem-erro" class="alerta"></div>

    <button class="btn" onclick="criarPedido()">+ Criar Novo Pedido</button>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Status</th>
                <th>Total</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="tabela-pedidos">
            <tr>
                <td colspan="5">Buscando pedidos no servidor...</td>
            </tr>
        </tbody>
    </table>

    <div id="modal-novo-pedido" style="display: none;">
        <div class="modal-content">
            <h3>Novo Pedido</h3>
            <p>Adicione o primeiro item para começar:</p>

            <input type=" text" id="novo-item-desc" placeholder="Descrição" required><br>
            <input type="number" id="novo-item-qtd" placeholder="Qtd" required>
            <input type="number" id="novo-item-valor" placeholder="Valor Unit." step="0.01" required><br>

            <div>
                <button class="btn" onclick="fecharModal()">Cancelar</button>
                <button class="btn" onclick="confirmarCriacaoPedido()">Criar Pedido</button>
            </div>
        </div>
    </div>



    <script>
        const tokenCSRF = "{{ csrf_token }}";

        async function carregarPedidos() {
            try {
                const resposta = await fetch("{% url 'api_listar_pedidos' %}");
                const pedidos = await resposta.json();

                const corpoTabela = document.getElementById('tabela-pedidos');
                corpoTabela.innerHTML = '';

                if (pedidos.length === 0) {
                    corpoTabela.innerHTML = '<tr><td colspan="5">Nenhum pedido encontrado.</td></tr>';
                    return;
                }

                pedidos.forEach(p => {
                    const classeStatus = p.status === 'RASCUNHO' ? 'status-rascunho' : 'status-fechado';
                    corpoTabela.innerHTML += `
                        <tr>
                            <td>#${p.id}</td>
                            <td>${p.data}</td>
                            <td><span class="${classeStatus}">${p.status}</span></td>
                            <td>R$ ${p.total.toFixed(2)}</td>
                            <td>
                                <button class="btn" onclick="abrirPedido(${p.id})">Editar/Ver</button>
                            </td>
                        </tr>
                    `;
                });
            } catch (erro) {
                mostrarErro("Erro ao carregar a lista.");
            }
        }


        function mostrarErro(texto) {
            const div = document.getElementById('mensagem-erro');
            div.innerText = texto;
            div.style.display = 'block';
        }

        function abrirPedido(id) {
            window.location.href = `/pedidos/${id}/`;
        }



        function criarPedido() {
            document.getElementById('modal-novo-pedido').classList.add('ativo');
        }

        function fecharModal() {
            document.getElementById('modal-novo-pedido').classList.remove('ativo');
        }

        async function confirmarCriacaoPedido() {

            const itemDesc = document.getElementById('novo-item-desc').value
            const itemQtd = document.getElementById('novo-item-qtd').value
            const valorUnitario = document.getElementById('novo-item-valor').value

            if (!itemDesc || !itemQtd || !valorUnitario) {
                alert('Preencha todos os dados')
                return
            }


            const dados = {
                descricao: itemDesc,
                quantidade: itemQtd,
                valor_unitario: valorUnitario
            }

            try {

                const resposta = await fetch("{% url 'api_criar_pedido' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': tokenCSRF
                    },
                    body: JSON.stringify(dados)
                })

                const resultado = await resposta.json()

                if (resposta.ok) {
                    window.location.href = `/pedidos/${resultado.id}/`;
                } else {
                    alert("Erro: " + (resultado.error || "Falha ao criar pedido"));
                }
            } catch (error) {
                alert('Erro de conexão')
            }



        }

        carregarPedidos();
    </script>
</body>

</html>