body {
    font-family: sans-serif;
    margin: 40px;
    color: #333;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.colunas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}