body {
    font-family: sans-serif;
    margin: 40px;
    color: #333;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.colunas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}


.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;

    justify-content: center;
    align-items: center;
}

.modal-container.visivel {
    display: flex !important;
}


.modal-content {
    background-color: #fff;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    border: 1px solid #000;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-content label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.9em;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 15px;
}