    body {
        font-family: sans-serif;
        margin: 40px;
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
    }

    .topo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        padding: 8px 16px;
        cursor: pointer;
        border: 1px solid #333;
        background: #fff;
    }

    .btn:hover {
        background: #eee;
    }

    .status-rascunho {
        color: #856404;
        background: #fff3cd;
        padding: 4px;
        border-radius: 4px;
    }

    .status-fechado {
        color: #155724;
        background: #d4edda;
        padding: 4px;
        border-radius: 4px;
    }

    .alerta {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #f00;
        color: #f00;
        display: none;
    }

    #modal-novo-pedido {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;

        justify-content: center;
        align-items: center;
    }

    #modal-novo-pedido.ativo {
        display: flex !important;
    }

    .modal-content {
        background-color: #fff;
        padding: 30px;
        width: 90%;
        max-width: 400px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .modal-content input {
        width: 100%;
        margin-bottom: 12px;
        padding: 10px;
        box-sizing: border-box;
    }


    #filtro-busca {
        width: 20%;
        margin-bottom: 12px;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 15px
    }